.field{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 20px;
}

.button{
    margin: 1rem 0 2rem 0;
    padding: 0.5rem;
    background-color: cadetblue;
    color: rgb(9, 24, 24);
    font-size: 17px;
}
.completedRequest{
    background-color: rgba(255, 0, 0, 0.589);
    max-width: fit-content;
    border: solid;
    padding: 0 0 0 3px;
}
.serviceReq{
    border: solid;
    max-width: fit-content;
    padding: 0 0 0 3px;
}